.header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  gap: 0.5rem;
  z-index: 2;
  background: rgba(70, 130, 255, 0.45);
  backdrop-filter: blur(2px);
}

.header-menu .logo a {
  font-family: var(--lobster);
  font-size: 2rem;
  text-decoration: none;
}

.header-menu-nav {
  display: flex;
  gap: 40px;
}

.header-menu-nav a {
  text-decoration: none;
  font-weight: 600;
}


@media (max-width: 768px) {
  .header-menu {
    flex-direction: column  ;
    padding: 15px 20px;
  }

  .header-menu .logo a {
    font-size: 1.6rem;
  }

  .header-menu-nav {
    gap: 15px;
  }
}
